    </main>

</div>

<footer class="footer">

    <p>
        CLB Rotesovie - Vô sản toàn thế giới, đoàn kết lại!
    </p>

</footer>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>