<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rotewiki</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="public/css/style.css">

</head>

<body>

    <div class="app-layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">

            <!-- Logo -->
            <div class="sidebar-logo">

                <img src="public/images/logo.png" alt="logo">

            </div>

            <!-- Divider -->
            <div class="sidebar-divider"></div>

            <!-- Top menu -->
            <div class="sidebar-top">

                <!-- Search -->
                <button class="sidebar-btn">

                    <i class="bi bi-search"></i>

                </button>

                <!-- Expand Menu -->
                <button class="sidebar-btn" data-bs-toggle="offcanvas" data-bs-target="#megaMenu">

                    <i class="bi bi-list"></i>

                </button>

            </div>

            <!-- Bottom -->
            <div class="sidebar-bottom">

                <button class="sidebar-btn">

                    <i class="bi bi-gear"></i>

                </button>

                <div class="user-wrapper">

                    <button class="sidebar-btn">

                        <i class="bi bi-person-circle"></i>

                    </button>

                    <div class="user-popup">

                        <h3>Người dùng</h3>

                        <div class="user-popup-divider"></div>

                        <p>
                            Đồng chí cần đăng nhập để cộng tác với chúng tôi
                        </p>

                        <button class="login-btn">
                            <a href="/login" class="text-white">Đăng nhập</a>
                        </button>

                        <button class="register-btn">
                            <a href="/register" class="text-dark">Đăng ký</a>
                        </button>

                    </div>

                </div>

            </div>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="main-content">