
<%- include("../partials/user/header") %>

<div class="register-page">

    <!-- TOP HEADER -->
    <div
        class="register-top"
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    >

        <h1>
            Yêu cầu xét duyệt hồ sơ cộng tác viên
        </h1>

        <div class="register-top-divider"></div>

    </div>

    <!-- MAIN BOX -->
    <div class="register-container">

        <!-- Intro -->
        <div class="register-intro">

            <h2>
                Chào mừng đồng chí đến với Rotewiki!
            </h2>

            <h4>
                Đây là trang wiki, cơ quan chính luận của CLB Rotesovie.
                Hãy cộng tác với chúng tôi, vì một tương lai tươi đẹp của chủ nghĩa cộng sản!
            </h4>

        </div>

        <!-- GROUP 1 -->
        <div class="register-group">

            <div class="group-title">
                Thông tin tài khoản
            </div>

            <div class="form-group-custom">

                <label>Username</label>
                <input type="text" id="username">

            </div>

            <div class="form-group-custom">

                <label>Email</label>
                <input type="email" id="email">

            </div>

            <div class="form-group-custom">

                <label>Password</label>
                <input type="password" id="password">

            </div>

            <div class="form-group-custom">

                <label>Nhập lại password</label>
                <input type="password" id="repassword">

            </div>

            <div class="form-group-custom">

                <label>Hình thức cộng tác</label>

                <select>

                    <option>
                        Cộng tác viên chính luận
                    </option>

                </select>

            </div>

        </div>

        <!-- GROUP 2 -->
        <div class="register-group">

            <div class="group-title">
                Câu hỏi xét duyệt
            </div>

            <p>
                <b>Để tham gia làm cộng tác viên Rotesovie</b>, vui lòng trả lời những câu hỏi dưới đây.
            </p>

            <div>
                <h4>Các thông tin cơ bản</h4>
                <span style="color:gray;font-size:17px;">
                1. Bạn biết đến Rotesovie và Rotewiki từ đâu? <br>
                2. Vì sao bạn lại quyết định cộng tác với chúng tôi? Mục đích của bạn là gì? <br>
                3. Bạn biết những ngoại ngữ nào?
                </span>
            </div>

            <div>
                <h4>Lập trường và tư tưởng chính trị</h4>
                <span style="color:gray;font-size:17px;">
                1. Bạn nghĩ như thế nào về chủ nghĩa dân tộc? Bạn ủng hộ hay phản đối việc mở rộng lãnh thổ, vì sao?<br>
                2. Trong cuộc chiến tranh xâm lược Ukraine, bạn nghĩ như thế nào về các thế lực đế quốc chủ nghĩa vừa nổi lên ở Nga? <br>
                3. Đối với nhân dân Palestine, bạn sẽ ủng hộ họ như thế nào? <br>
                4. Hãy diễn đạt về chủ nghĩa duy vật lịch sử và đấu tranh giai cấp theo cách bạn hiểu. <br>
                5. Lập trường của bạn như thế nào đối với Trotskyism và bọn đệ tứ quốc tế? <br>
                6. Bạn có ủng hộ phong trào vị nữ vô sản và phong trào của cộng đồng LGBT không? Vì sao? <br>
                7. Bạn hiểu như thế nào về chủ nghĩa đế quốc và chủ nghĩa cộng sản? Đâu là lối thoát cho giai cấp vô sản toàn thế giới? <br>
                8. Nền dân chủ vô sản và dân chủ tư sản khác nhau như thế nào? <br>
                </span>
            </div>
            <textarea
                class="review-textbox"
                placeholder="Nhập câu trả lời..."
                id="reviewbox"
            ></textarea>

        </div>

        <!-- GROUP 3 -->
        <div class="register-group">

            <div class="group-title">
                Chính sách cộng đồng
            </div>

            <div class="checkbox-group">

                <input type="checkbox">
                <span>
                    Tôi đồng ý với chính sách cộng đồng
                </span>

            </div>

            <div class="checkbox-group">

                <input type="checkbox">
                <span>
                    Tôi đồng ý tham gia
                </span>

            </div>

        </div>

        <!-- BUTTON -->
        <div class="submit-wrapper">

            <a href="#" id="register-submit" class="btn btn-primary">Gửi hồ sơ</a>

        </div>

    </div>

</div>
<script src="/public/js/register.js"></script>

<%- include("../partials/user/footer") %>
